<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="row">

        <div class="col col-6 col-d-12">
          <div class="hero__left">
            <div class="hero__image">
              <img class="lazy" data-src="/images/home/hero/main-banner.jpg" alt="'s Picture">
            </div>
            
            <div class="hero__image__caption">Photo Caption
</div>
            
          </div>
        </div>

        <div class="col col-6 col-d-12">
          <div class="hero__right">
            
            <div class="hero__avatar">
              <img class="lazy" data-src="/images/home/hero/author-avatar.jpg" alt="Alex Dias">
            </div>
            

            
            <h1 class="hero__title">Hi! I'm Drake 👋</h1>
            

            
            <p class="hero__subtitle">Certified product (CSPO®) and project (PMP®) leader, former digital nomad, amateur coder, and digital privacy advocate</p>
            

            
            <div class="hero__description"><p>I lead software product teams by blending business strategy with technical fluency. I’ve managed teams, launched products, and even my own company, but I still love getting into the technical weeds. New Orleans is home, but I’ve spent the last decade working remotely as a digital nomad, helping build some of the most exciting fintech, blockchain, and video game products on the market.</p>

                                          <p>This blog is part showcase, part knowledge base, and hopefully a useful resource for anyone navigating the intersection of product, code, and curiosity (with the occasional cajun recipe, just to keep things spicy).</p>
            </div>
            

            
            <a href="/contact/" class="hero__button button button--primary">Let's Work Together</a>
            
          </div>
        </div>

      </div>
    </div>
  </div>
</section> 