<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="row">

        <div class="col col-6 col-d-12">
          <div class="hero__left">
            <div class="hero__image">
              <img class="lazy" data-src="/images/home/hero/main-banner-001.jpg" alt="'s Picture">
            </div>
            
            <div class="hero__image__caption">My creative space, where masterpieces are born
</div>
            
          </div>
        </div>

        <div class="col col-6 col-d-12">
          <div class="hero__right">
            
            <div class="hero__avatar">
              <img class="lazy" data-src="/images/home/hero/author-avatar-001.jpg" alt="Alex Dias">
            </div>
            

            
            <h1 class="hero__title">Hi! I'm Drake 👋</h1>
            

            
            <p class="hero__subtitle">A digital explorer, coder, and Linux advocate</p>
            

            
            <div class="hero__description"><p>I'm Drake. This blog is my personal knowledge base on stuff..</p>

<p>Here, I share ideas, tools, and methods that help me balance productivity with creativity while keeping control over my digital world. Dive in, get inspired, and feel free to share your thoughts!</p>
</div>
            

            
            <a href="/contact/" class="hero__button button button--primary">Let's Work Together</a>
            
          </div>
        </div>

      </div>
    </div>
  </div>
</section> 