<section class="section section-carousel">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        
        <h2 class="logos-title">Where Work Happens</h2>
        
        <div class="logos splide">
          <div class="splide__track">
            <div class="logos__inner splide__list">
              
              <div class="carousel__item">
                <figure class="carousel__item__image">
                  <img class="lazy" data-src="/images/carousel/coding-station.jpg" alt="Coding Station">
                  <figcaption class="carousel__item__caption">Where creativity meets technology.</figcaption>
                </figure>
              </div>

              <div class="carousel__item">
                <figure class="carousel__item__image">
                  <img class="lazy" data-src="/images/carousel/daily-routine.jpg" alt="Daily Routine">
                  <figcaption class="carousel__item__caption">Finding beauty in everyday moments.</figcaption>
                </figure>
              </div>

              <div class="carousel__item">
                <figure class="carousel__item__image">
                  <img class="lazy" data-src="/images/carousel/desk-setup.jpg" alt="Desk Setup">
                  <figcaption class="carousel__item__caption">A workspace that inspires.</figcaption>
                </figure>
              </div>

              <div class="carousel__item">
                <figure class="carousel__item__image">
                  <img class="lazy" data-src="/images/carousel/tech-life.jpg" alt="Tech Life">
                  <figcaption class="carousel__item__caption">Living in the digital age.</figcaption>
                </figure>
              </div>

              <div class="carousel__item">
                <figure class="carousel__item__image">
                  <img class="lazy" data-src="/images/carousel/gaming-setup.jpg" alt="Gaming Setup">
                  <figcaption class="carousel__item__caption">Where gaming dreams come alive.</figcaption>
                </figure>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 