<section class="section section-featured-posts">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head">
          <h2 class="section__title">Featured Posts</h2>
        </div>
        <div class="row">
          {% assign featured_posts = site.posts | where: "tags", "featured" | sort: "date" | reverse | limit: 3 %}
          {% for post in featured_posts %}
            <div class="col col-4 col-d-6 col-m-12">
              <div class="article article--minimal">
                <div class="article__inner">
                  <div class="article__head">
                    <a class="article__image" href="{{ post.url | relative_url }}">
                      <img class="lazy" data-src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
                    </a>
                  </div>
                  <div class="article__content">
                    <h3 class="article__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
                    <time class="article__date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b, %Y" }}</time>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section> 