<section class="section section-carousel">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        
        <h2 class="logos-title">Where Work Happens</h2>
        
        <div class="logos splide">
          <div class="splide__track">
            <div class="logos__inner splide__list">
              
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/gaming-console.jpg" alt="Game Boy" loading="eager" style="cursor: zoom-in;">
              </div>
              
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/retro-gaming.jpg" alt="Super Nintendo" loading="eager" style="cursor: zoom-in;">
              </div>
              
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/keyboard.jpg" alt="Keyboard" loading="eager" style="cursor: zoom-in;">
              </div>
              
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/headphones.jpg" alt="Headphones" loading="eager" style="cursor: zoom-in;">
              </div>
              
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/mouse.jpg" alt="Mouse" loading="eager" style="cursor: zoom-in;">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 