<!-- begin section-logos -->
<section class="section section-logos">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        
        <h2 class="logos-title">Nerd Stuff</h2>
        
        <div class="logos splide">
          <div class="splide__track">
            <div class="logos__inner splide__list">
              
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/gaming-console-001.jpg" alt="Game Boy" loading="eager">
              </div>
              
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/retro-gaming-001.jpg" alt="Super Nintendo" loading="eager">
              </div>
              
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/keyboard-001.jpg" alt="Keyboard" loading="eager">
              </div>
              
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/headphones-001.jpg" alt="Headphones" loading="eager">
              </div>
              
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/mouse-001.jpg" alt="Mouse" loading="eager">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section-logos --> 