<section class="section section-gallery">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="section__head">
          
          <h2 class="section__title">Lightbox Log</h2>
          
        </div>

        <div class="row">
          <div class="col col-12">
            <div class="section-gallery__inner">
              
              <figure class="gallery__image">
                <img class="lazy" data-src="/images/gallery/coding-station.jpg" alt="Rest">
                
                <figcaption class="gallery__image__caption">Small steps lead to big results.</figcaption>
                
              </figure>
              
              <figure class="gallery__image">
                <img class="lazy" data-src="/images/gallery/daily-routine.jpg" alt="Lifestyle">
                
                <figcaption class="gallery__image__caption">A peaceful moment captured during a serene evening.</figcaption>
                
              </figure>
              
              <figure class="gallery__image">
                <img class="lazy" data-src="/images/gallery/desk-setup.jpg" alt="Hobby">
                
                <figcaption class="gallery__image__caption">True friends are like stars — they shine brightest when the world feels dark.</figcaption>
                
              </figure>
              
              <figure class="gallery__image">
                <img class="lazy" data-src="/images/gallery/tech-life.jpg" alt="Computers">
                
                <figcaption class="gallery__image__caption">Every click opens a new chapter in an endless story.</figcaption>
                
              </figure>
              
              <figure class="gallery__image">
                <img class="lazy" data-src="/images/gallery/gaming-setup.jpg" alt="Games">
                
                <figcaption class="gallery__image__caption">Every level is a new opportunity to test your limits.</figcaption>
                
              </figure>
              
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-12">
            <div class="gallery-more">
              <a href="/gallery" class="gallery-more__link">View More<i class="fa-solid fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section> 