<section class="section section-logos">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        
        <h2 class="logos-title">Where Work Happens</h2>
        
        <div class="logos splide">
          <div class="splide__track">
            <div class="logos__inner splide__list">
              
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/ph_003_4x3.jpeg" alt="Philippines" loading="eager" data-caption="📍Palawan, Philippines">
              </div>
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/tw_005_4x3.jpg" alt="Taiwan" loading="eager" data-caption="📍Formosa Station, Kaohsiung, Taiwan">
              </div>
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/ph_002_4x3.jpg" alt="Philippines" loading="eager" data-caption="📍El Nido, Palawan, Philippines">
              </div>
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/tw_001_4x3.jpg" alt="Taiwan" loading="eager" data-caption="📍Yilan, Taiwan"> 
              </div>
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/tw_006_4x3.jpg" alt="Taiwan" loading="eager" data-caption="📍Lotus Pond, Kaohsiung, Taiwan">
              </div>
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/id_001_4x3.jpg" alt="Indonesia" loading="eager" data-caption="📍Mount Bromo, Indonesia">
              </div>
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/ph_001_4x3.jpg" alt="Philippines" loading="eager" data-caption="📍Boracay Island, Philippines">
              </div>
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/my_001_4x3.jpg" alt="Malaysia" loading="eager" data-caption="📍BOH Tea Plantation, Cameron Highlands, Malaysia">
              </div>
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/tw_002_4x3.jpg" alt="Taiwan" loading="eager" data-caption="📍Fo Guang Shan, Kaohsiung, Taiwan">
              </div>
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/id_002_4x3.jpg" alt="Indonesia" loading="eager" data-caption="📍Mount Rinjani National Park, Lombok,Indonesia">
              </div>
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/us_la_001_4x3.jpg" alt="Louisiana" loading="eager" data-caption="📍False River, Louisiana, USA">
              </div>
              <div class="logos__image splide__slide">
                <img src="/images/home/carousel/sg_001_4x3.jpg" alt="Singapore" loading="eager" data-caption="📍Gardens by the Bay, Marina Bay, Singapore">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 